matplotlib==3.7.5					
pygame==2.6.1						
pyModbusTCP==0.2.1					
PyQt5==5.15.11						
pyqtgraph==0.13.3					
pyserial==3.5						
PyYAML==6.0.2						
randomcolor==0.4.4.6							


Standard Python libraries (without version):
argparse
datetime
json
logging
math
os
random
shutil
socket
sys
time







